

.todays_holiday{
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(104, 58, 104);
}

.card{
    margin: 30px;
}
.cards_text{
    background-color: blueviolet;
    width: 382px;
}
.flag{
    width: 40px;
    height: 40px;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .white {
    width: 100%;
    height: 30%;
    background: white;
  }
  .image {
  width: 300px;
    background: url(http://www.planwallpaper.com/static/images/nature-wallpapers-hd.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
  height: 70%;}
  .image span {
    display: block;
    font-size: 56px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
  }
  .image span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #container {
    width: 100%;
    position: absolute;
    bottom: -6px;
    overflow: hidden;
  }
  #container svg {
    width: 200%;
    position: relative;
    animation: move-left 20s linear infinite;
  }
  @keyframes move-left {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }