.input{
    width: 40%;
    border: none;
    outline: none;
    padding: 21px 5px;
    margin: 12px 0; 
  }
.label-text{
      display: block;
      font-size: 19px;
      font-weight: 400;
  }
.from{
    border: 2px solid #000;
    padding: 10px;
}  