@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,400;1,300&family=Playfair+Display+SC&family=Poppins:wght@500&family=Qahiri&display=swap');

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}
.header{
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100vh;
}