@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans&display=swap');

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}
.header{
    padding: 20px;
    background-color: rgb(88, 5, 88);
}
.sayt-name{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    color: violet;
    margin: 0;
}