.footer{
    background-color: red;
    padding: 40px;
}
.footer .row{
    display: flex;
    justify-content: space-between;
}
.footer__title{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 700;
}
.footer-links{
    list-style-type: none;
}
.footer__link{
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
}

.icon-instagram1:before {
    content: "\e901";
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-instagram1 {
    width: 0.857421875em;
}
  