body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*===================View Holiday Page =================*/
.viewHoliday{
  /* background-color: red; */

}
.holiday-cards{
  /* background-color: royalblue; */
  display: flex;
  flex-direction: row ; 
}
.card{  
  /* background-color: yellow; */
  width: 50%;
}
.holiday-image{
  width: 600px;
}
.view-holiday-overview{
  padding: 20px;
  width: 50%;
  /* background-color: rgb(190, 170, 170); */
  margin: 20px;
}
.view-holiday__overview{
  font-size: 23px;
  font-weight: 400;
}